/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.book-box {
    border: 1px solid #ccc;
}

.book-desc {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.form-select,
.form-control {
    border-radius: 2px;
}

.form-select:focus,
.form-control:focus {
    box-shadow: 0 0 5px #86b7fe;
}

.was-validated .form-control:valid:focus {
    box-shadow: 0 0 5px #19875495;
}

.was-validated .form-control:invalid:focus {
    box-shadow: 0 0 5px #dc354692;
}

.btn-custom {
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dataTable-input,
.dataTable-selector {
    transition: 0.25s;
    outline: none;
    border: 1px solid #eee;
    border-radius: 2px;
}

.dataTable-input:focus,
.dataTable-selector:focus {
    border: 1px solid #222;
}