/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

input,select,textarea {
    box-shadow: none !important;
    font-size: 14px !important;
}

.form-select,
.form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

.btn {
    box-shadow: none !important;
}

.btn-custom {
    border-radius: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 120px; 
    margin-top: 2px;
    font-size: 14px !important;
}
.page-link:focus{
    box-shadow: none !important;
}